In [1]:
import pandas as pd

## Summary

> This notebook prepare the dataset for further analysis by: 
* Merging files containing same sensor data into a single file
* Adding headers to each resulting file
* Order data based on time

## Dataset Listing

The dataset is composed of several files containing each: 

* **Indoor** temperature and humidity (`TBH_Weather1*.csv`)
* **Outdoor** temperature and humidity  (`TBH_Weather2*.csv`)
* **Electricity** meter (`TBH_Fludiametre*.csv`)
* **Gas** meter (`TBH_Impulsions*.csv`)

In [2]:
%%sh
ls data/original

TBH_Fludiametre_2018-01-01_2018-03-31.csv
TBH_Fludiametre_2018-04-01_2018-06-01.csv
TBH_Fludiametre_2018-06-02_2018-08-31.csv
TBH_Fludiametre_2018-09-01_2018-11-30.csv
TBH_Fludiametre_2018-12-01_2019-02-28 (1).csv
TBH_Impulsions_2018-01-01_2018-03-31.csv
TBH_Impulsions_2018-04-01_2018-06-01.csv
TBH_Impulsions_2018-06-02_2018-08-31.csv
TBH_Impulsions_2018-09-01_2018-11-30.csv
TBH_Impulsions_2018-12-01_2019-02-28.csv
TBH_Weather1_2018-01-01_2018-03-31.csv
TBH_Weather1_2018-04-01_2018-06-01.csv
TBH_Weather1_2018-06-02_2018-08-31.csv
TBH_Weather1_2018-09-01_2018-11-30.csv
TBH_Weather1_2018-12-01_2019-02-28.csv
TBH_Weather2_2018-01-01_2018-03-31.csv
TBH_Weather2_2018-04-01_2018-06-01.csv
TBH_Weather2_2018-06-02_2018-08-31.csv
TBH_Weather2_2018-09-01_2018-11-30.csv
TBH_Weather2_2018-12-01_2019-02-28.csv

## Merging Files

Having several files per sensor is cumbersome. Lets merge them into a single one per sensor:

In [3]:
%%sh
cat data/original/TBH_Weather1*.csv    > data/indoor.csv
cat data/original/TBH_Weather2*.csv    > data/outdoor.csv
cat data/original/TBH_Fludiametre*.csv > data/electricity.csv
cat data/original/TBH_Impulsions*.csv  > data/gas.csv

In [4]:
%%sh
ls  data/*.csv

data/electricity.csv
data/gas.csv
data/indoor.csv
data/outdoor.csv

## Adding Headers and Ordering Readings by Time

The original dataset does not contain headers (meta-data) describing the semantics of the data:

In [5]:
pd.read_csv("data/indoor.csv").head(2)

   1514761200  18.3  50
0  1514761800  18.3  50
1  1514762400  18.3  50

The following code add a header to each file. It also order the data based on time (`Timestamp`):

In [6]:
headers = [
    ("data/electricity.csv", ['Timestamp', 'Electricity']),
    ("data/outdoor.csv",     ['Timestamp', 'Temperature', 'Humidity']),
    ("data/indoor.csv",      ['Timestamp', 'Temperature', 'Humidity']),
    ("data/gas.csv",         ['Timestamp', 'Gas'])
]

for (file, header) in headers:
    # Read file and set header
    df = pd.read_csv(file, header=None, names=header)
    # Order by timestamp
    df = df.sort_values(by=['Timestamp'])
    # Store
    df.to_csv(file, index=False)

Now files contain headers and are ordered increasingly:

In [7]:
pd.read_csv("data/indoor.csv")

        Timestamp  Temperature  Humidity
0      1514761200         18.3        50
1      1514761800         18.3        50
2      1514762400         18.3        50
3      1514763000         18.3        50
4      1514763600         18.2        50
5      1514764200         18.2        50
6      1514764800         18.2        50
7      1514765400         18.2        50
8      1514766000         18.2        49
9      1514766600         18.1        49
10     1514767200         18.1        49
11     1514767800         18.1        49
12     1514768400         18.1        49
13     1514769000         18.0        49
14     1514769600         18.0        49
15     1514770200         17.9        49
16     1514770800         17.9        49
17     1514771400         17.9        49
18     1514772000         17.9        49
19     1514772600         17.8        49
20     1514773200         17.8        49
21     1514773800         17.8        49
22     1514774400         17.8        49
23     1514775000         17.6        49
24     1514775600         17.6        49
25     1514776200         17.6        49
26     1514776800         17.6        49
27     1514777400         17.6        49
28     1514778000         17.6        49
29     1514778600         17.6        49
...           ...          ...       ...
59291  1551290945         19.6        43
59292  1551291545         19.6        43
59293  1551292145         19.6        43
59294  1551292745         19.6        43
59295  1551293345         19.6        43
59296  1551293945         19.6        43
59297  1551294545         19.5        43
59298  1551295145         19.5        43
59299  1551295745         19.5        43
59300  1551296345         19.5        43
59301  1551296945         19.5        43
59302  1551297545         19.6        43
59303  1551298145         19.5        43
59304  1551298745         19.5        43
59305  1551299345         19.5        43
59306  1551299945         19.5        42
59307  1551300545         19.5        42
59308  1551301145         19.5        42
59309  1551301745         19.5        42
59310  1551302345         19.4        42
59311  1551302945         19.4        42
59312  1551303545         19.4        42
59313  1551304145         19.4        42
59314  1551304745         19.4        42
59315  1551305345         19.4        42
59316  1551305945         19.3        42
59317  1551306545         19.3        42
59318  1551307145         19.3        42
59319  1551307745         19.3        42
59320  1551308345         19.3        42

[59321 rows x 3 columns]

## ~ The End